@import './masu.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #111827;
  background: #fff;
}
